.search-bar-bg {
  background-color: rgb(15, 15, 15);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.fa-solid {
  color: white;
}

.search-bar {
  /* border: 1px solid white; */
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}

.search-bar>div {
  height: 40px;
}

.sb-yt-menu-logo {
  /* border: 1px solid red; */
  width: 169px;
  display: flex;
  align-items: center;
}

.sb-menu {
  padding-left: 10px;
  cursor: pointer;
}

.sb-yt-logo {
  height: 30px;
  margin-left: 25px;
}

.sb-yt-logo>img {
  height: 100%;
  cursor: pointer;
}



.search-bar-box {
  /* border: 1px solid green; */
  width: 732px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-bar-layout {
  border: 1px solid rgb(48, 48, 48);
  border-radius: 40px;
  width: 598px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-input {
  padding-left: 14px;
}

.search-bar-input input {
  background-color: rgb(15, 15, 15);
  color: rgba(255, 255, 255, 0.88);
  border: none;
  outline: none;
  width: 515px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.search-bar-logo {
  background-color: rgba(255, 255, 255, 0.08);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 64px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.sb-voice-search {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  cursor: pointer;
}

.sb-voice-search:hover {
  background-color: rgb(48, 48, 48);
}

.sb-create-notify-signin {
  /* border: 1px solid skyblue; */
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sb-create,
.sb-notify {
  width: 40px;
  height: 40px;
  padding: 0px 8px;
}

.sb-profile {
  width: 36px;
  height: 36px;
  padding: 0px 8px;
}

.sb-profile>img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sb-create>img,
.sb-notify>img,
.sb-profile>img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sb-setting-menu {
  margin-right: 20px;
  cursor: pointer;
}

.sb-sign-in-layout {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: rgb(62, 166, 255);
  width: 96.6px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  cursor: pointer;
}

.sb-sign-in-layout:hover {
  background-color: rgba(71, 169, 255, 0.25);
  border-color: transparent;
}

.sb-sign-in-logo {
  margin-left: -5px;
}

.sb-sign-in-text {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}